.projects-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  .project-card {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: translateY(-10px);
    }
  }
  
  .project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .project-description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .project-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
  
    &:hover {
      text-decoration: underline;
    }
  }
  